<h1>{{ heading }}</h1>

<div class="products-wrap">
    {% if products %}
        {% for product in products %}
            <div class="card product-item mb-4" style="width: 18rem;">
                <img src="/img/{{ product.img }}" class="card-img-top" alt="{{ product.name }} img">
                <div class="card-body bg-dark">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-price">{{ product.price }}</p>
                    <button role="button"
                            data-product ="{{ product.id_product }}"
                            data-basket="{{ product.id_basket }}"
                            class="btn btn-danger delete">Delete
                    </button>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <p>Корзина пуста</p>
    {% endif %}
</div>