<h1>{{ product.name }}</h1>
<img src="/img/{{ product.img }}" alt="{{ product.img }} img">
<p class="item-description">Описание: {{ product.description }}</p>
<p class="item-price">Цена: {{ product.price }}</p>
<button
        type="button"
        data-id="{{ id }}"
        class="btn btn-success buy">Buy
</button>